{% extends 'base.html' %}

{% block content %}
  <div class="form-container">
    <form method="post" class="form-card" novalidate>
      {% csrf_token %}
      <h2 class="mb-6 text-2xl font-bold text-center">Log in to your account</h2>

      {% for field in form %}
        <div class="mb-4">
          {{ field.label_tag(class="form-label") }}
          {{ field(class="form-input") }}
          {% if field.errors %}
            <div class="error-text">
              <small>{{ field.errors|striptags }}</small>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      
      <input type="submit" value="Login" class="form-button">
      <hr>
      <div class="text-center">
        <p>Forgot your password? <a href="{% url 'accounts:password-reset' %}" class="form-link">Reset Password</a></p>
        <p>Don't have an account? <a href="{% url 'accounts:register' %}" class="form-link">Join Now</a></p>
      </div>
    </form>
  </div>
{% endblock content %}
